*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.container{
    border:1px solid red;
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    margin: auto;
    box-shadow:6px 6px 40px black;
}
.navbar{
    /* border:1px solid green; */
    display: grid;
    width:98vw;
    height:4vh;
    text-align: center;
    align-content: center;
     justify-self: center;
     background-color: rgb(164, 245, 237);
     font-size:0.8rem;
     font-weight: 550;
     border-radius:0.2rem;
}
.sidebar{
    border:1px solid red;
    height:96vh;
    width:30vw;
}
.main{
    border:1px solid red;
 width:60vw;
}